.detailed-product-description__content {
  max-width: 778px;
  margin: 25px auto 0 auto;
  padding: 0 10px;
}

.detailed-product-description__text {
  font-size: 15px;
  margin-top: 12px;

  p {
    margin-top: 10px;
  }
}

.detailed-product-description__text-second-box {
  margin: 20px 0;
}

.FAQ-title {
  font-size: 17px;
}

.FAQ-no-dropdown__question {
  font-size: 16px;
  margin: 10px 0;
}

.FAQ-no-dropdown__answer {
  max-width: 621px;
  font-size: 15px;
}
