.detailed-product-description__content {
  max-width: 778px;
  margin: 25px auto 0 auto;
  padding: 0 10px;
}

.detailed-product-description__text {
  font-size: 15px;
  margin-top: 12px;

  p {
    margin-top: 10px;
  }
}

.detailed-product-description__text-second-box {
  margin: 20px 0;
}

.FAQ-title {
  font-size: 17px;
}

.FAQ-no-dropdown__question {
  font-size: 16px;
  margin: 10px 0;
}

.FAQ-no-dropdown__answer {
  max-width: 621px;
  font-size: 15px;
}

@media(min-width: 940px) {
  .description-services-desktop-grid {
    height: 900px;
  }

  .description-services-desktop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 60px;
  }

  .detailed-product-description__content {
    margin-top: 0;
    max-width: none;
    width: 810px;
  }

  .detailed-product-description__text {
    font-size: 14px;
    margin-top: 20px;
  }

  .FAQ-title {
    margin: 30px 0 0 0;
  }

  .FAQ-no-dropdown {
    margin: 10px 0 12px 0;
  }

  .FAQ-no-dropdown__question {
    font-size: 14px;
  }

  .FAQ-no-dropdown__answer {
    max-width: 650px;
    font-size: 13px;
  }
}
