.header-overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header {
  border: 1px solid #f1f1f1;
  background-color: #eaeaea;
  background-image: url(img/header/dots.png);
}

.header__content {
  padding: 18px 13px 10px 13px;

  .header-wrapper {
    display: flex;
  }
}

.header__logo {
  margin: 0 15px 0 40px;
}

.header__logo-img {
  width: 140px;
  height: 26px;
}

.header__search-desktop-version {
  display: none;
}

.header__language {
  display: none;
}

.header__account-desktop-version {
  display: none;
}

.header__shopping-basket-desktop-version {
  display: none;
}

.header__search-show-loupe-icon,
.header__account-icon,
.header__shopping-basket-icon {
  font-size: 24px;
}

.header__search-show {
  margin-left: auto;
  cursor: pointer;
}

.header__shopping-basket,
.header__account {
  margin-left: 25px;
  cursor: pointer;
}

.header__shopping-basket-quantity {
  background: #b62323;
  width: 16px;
  height: 16px;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  margin: -38px 0 0 15px;

  .header__shopping-basket-quantity-number {
    margin-left: 4.7px;
  }
}

.header__search {
  display: none;
  position: relative;
  z-index: 2;
  height: 70px;
  width: 100%;

  .header__search-box {
    padding: 5px 20px 0 20px;
  }
}

.header__search-input {
  width: 285px;
  height: 50px;
  padding: 1px 10px 1px 12px;
  border: 0;
}

.header__search-loupe {
  background: #fff;
  height: 50px;
  width: 50px;

  .header__search-loupe-icon {
    padding: 17px 17px 17px 18px;
    color: #000;
    font-size: 15px;
  }
}

@media(min-width: 940px) {
  .header__search-show,
  .header__account,
  .header__shopping-basket {
    display: none;
  }
  
  .header-overlay {
    position: static;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  .header__container {
    height: 93px;

    .header__content {
      padding: 0;
    }
  }

  .header__logo {
    margin-left: 0;
  }

  .header__logo-img {
    width: 251px;
    height: 40px;
    margin: 32px 20px 0 0;
  }

  /* SEARCH */

  .header__search-desktop-version {
    display: block;
    margin: 26px 0 0 60px;

    .header__search-desktop-version-box {
      display: flex;
    }
  }

  .header__search-desktop-version-input {
    width: 277px;
    height: 50px;
    padding: 1px 10px 1px 12px;
    border: 0;
  }

  .header__search-desktop-version-loupe {
    background: #2e2e2e;
    height: 50px;
    width: 50px;

    .header__search-desktopn-version-loupe-icon {
      padding: 17px 17px 17px 18px;
      color: #fff;
      font-size: 15px;
      cursor: pointer;
    }
  }

  /* LANGUAGE */

  .header__language {
    display: block;
    height: 25px;
    margin: 40px 0 0 80px;
  }

  .header__language-current {
    display: flex;
    cursor: pointer;

    .header__language-current-item-text {
      font-size: 15px;
      margin-top: 2px;
    }

    .header__language-current-arrow {
      margin: 4px 0 0 5px;
    }
  }

  .header__language-choice {
    display: none;

    .header__language-list {
      list-style: none;
      display: flex;
      position: absolute;
      margin-left: 18px;
    }
  }

  .header__language-list-item {
    display: flex;
  }

  .header__language-current-item-img,
  .header__language-list-item-img {
    width: 25px;
    height: 100%;
    margin: 3px 5px 0 7px;
  }

  .header__language-list-item-img {
    width: auto;
    height: 13px;
    margin-top: 5px;
    cursor: pointer;
  }

  .header__language-list-item-img--DE {
    width: auto;
    height: 14.4px;
  }

  .header__account-desktop-version {
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    margin: 41px 0 0 30px;

    .header__account-desktop-version-text {
      color: #000;
    }

  }

  .header__shopping-basket-desktop-version {
    display: block;
  }

  .header__shopping-basket-desktop-version-background-img {
    position: absolute;
    top: 0;
    margin-left: 27px;
    z-index: 2;
  }

  .header__shopping-basket-desktop-version-rank-img {
    position: relative;
    margin: 28px 0 0 42px;
    z-index: 3;
  }

  .header__shopping-basket-desktop-version-quantity {
    background: #fff;
    width: 19px;
    height: 19px;
    position: absolute;
    z-index: 4;
    top: 57px;
    margin-left: 68px;
    color: #b62323;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
  
    .header__shopping-basket-desktop-version-quantity-number {
      margin: 2.4px 0 0 5.8px;
    }
  }

  .header__shopping-basket-desktop-version-text {
    position: absolute;
    top: 74px;
    margin-left: 86px;
    z-index: 2;
    color: #fff;
    line-height: 1.2;

    .header__shopping-basket-desktop-version-text-first {
      font-size: 11px;
      font-weight: bold;
    }

    .header__shopping-basket-desktop-version-text-second {
      font-weight: bold;
      font-size: 17px;
    }
  }
}
