@media(min-width: 940px) {

  .mobile-navigation-toggle,
  .mobile-navigation {
    display: none;
  }

  .navigation {
    background-color: #fff;
    height: 61px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
  }

  .navigation__list {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 17px 0;

    .navigation__list-item-data {
      color: #000;
      padding: 0 15px 22px 15px;
      margin-right: 30px;
      &:hover {
        border-bottom: 3px solid #dc363d;
      }
    }
  }
}
