.product-photo {
  display: none;
}

@media(min-width: 940px) {
  .product-photo {
    margin: auto 0 auto 20px;
  }

  .product-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
  }

  .product-photo {
    display: block;
  }
}