.slider__slideshow-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 210px;
  margin-top: 90px;
}

.slider__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider__visible {
  opacity: 1;
}

.slider__arrow {
  font-size: 2.8em;
  color: rgb(165, 165, 165);
  cursor: pointer;
  opacity: 0.5;

  .slider__left-arrow,
  .slider__right-arrow {
    padding: 5px;
  }
}

#slider__left-arrow {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#slider__right-arrow {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translate(50%, -50%);
}

@media (min-width: 940px) {
 .slider {
   display: none;
 }
}

.promotion-element {
  top: 80px;
  right: 10px;
  position: absolute;
  display: flex;

  img {
    width: auto;
    height: 23px;
  }

  .promotion-element-text {
    background: #ce2e2a;
    height: 23px;
    color: #fff;
    font-size: 12px;
    padding: 2px 8px 0 0;
  }
}